body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #222;
    font-family: 'Open Sans', sans-serif;
    background: rgb(62,156,223);
    background: linear-gradient(218deg, rgba(62,156,223,1) 0%, rgba(221,239,251,1) 64%, rgba(255,220,109,1) 100%);
    font-size:120%;
}

.card{
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    margin: .5em;
    border-radius: 50%;
    border: none;
    height:44px;
    width:44px;
    outline: none;
    background-color: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover{
    background: #7c7c7c6b;
}

.search-bar{
    border: none;
    outline: none;
    padding: .4em 1em;
    border-radius: 24px;
    background-color: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
}

.temp{
    margin: 0;
    margin-bottom: .4em;
}

.description{
    text-transform: capitalize;
    margin-left: 8px;
}

.flex{
    display: flex;
    align-items: center;
}